.unitSelector {
    height: 2rem;
    padding: 0 4px;
    border-radius: 8px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 2px var(--color-element-2);
    outline: none;

    option {
        border-radius: inherit;
    }
}