@use '../../styles/containers/PageContainer.scss' as *;
@use '../../styles/buttons/SmallBtn.scss' as *;

.pageContainer {
    @include page-container();

    .itemsPageHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        .itemsPageBackBtn {
            @include small-btn(var(--color-element-1), var(--color-back));
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;

            .itemsPagebackIcon {
                width: 1rem;
                height: 1rem;
            }
        }

        h1 {
            flex-grow: 1;
            text-align: center;
            min-width: 0;
        }
    }

    .itemsPageMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        ul {
            border: 1px solid var(--color-element-2);
            border-radius: 4px;
            box-shadow: 1px 1px 2px var(--color-element-2);
            background-color: var(--color-bg);
            display: flex;
            flex-direction: column;
            gap: 1px;

            li {
                height: 3rem;
                padding: 4px;
                background-color: var(--color-element-1);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: .5rem;

                &:first-child {
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                }
    
                &:last-child {
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                .itemCompletedToggle {
                    display: hidden;
                    /*
                    border: 1px solid black;
                    border-radius: 6px;
                    padding: 2px;
                    box-shadow: 1px 1px 2px var(--color-element-2);
                    */
                    justify-content: center;
                    align-items: center;
                    width: 2rem;
                    height: 2rem;
                    color: var(--color-element-1);
                    flex-shrink: 0;
    
                    .checkIcon {
                        width: 100%;
                        height: 100%;
                    }
                }

                .activeToggle {
                    display: flex;
                    color: var(--color-confirm);

                    .checkIcon {
                        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
                    }
                }

                //item name btn
                .itemBtn {
                    height: 100%;
                    background-color: inherit;
                    border: none;
                    flex-grow: 1;
                    font-size: 1.2rem;
                    font-weight: bolder;
                    text-shadow: 2px 2px 4px var(--color-bg);
                }

                .itemQuantity {
                    height: 100%;
                    background-color: inherit;
                    border: none;
                    font-size: 1.2rem;
                    font-weight: bolder;
                    text-shadow: 2px 2px 4px var(--color-bg);
                    width: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                //add one item btn
                .addOneItemBtn {
                    @include small-btn(var(--color-element-1), var(--color-add));
                }

                //substract one item btn
                .substractOneItemBtn {
                    @include small-btn(var(--color-element-1), var(--color-substract));
                }
    
                //delete item btn
                .deleteItemBtn {
                    @include small-btn(var(--color-element-1), var(--color-cancel));
                }
            }
        }

        .addNewItemContainer {
            height: 3rem;
            padding: 4px;
            background-color: inherit;

            .addNewItemInputContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 4px;
                height: 100%;
                width: 100%;

                input {
                    height: 100%;
                    border-radius: 8px;
                    padding: 4px 6px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    border: 1px solid var(--color-element-2);
                    box-shadow: 1px 1px 2px var(--color-element-2);
                    min-width: 0;
                    outline: none;
                }

                .itemNameInput {
                    flex-grow: 1;
                }

                .itemQuantityInput {
                    min-width: 3rem;
                    max-width: 3.5rem;
                    text-align: center;         
                }

                .confirmNewItem {
                    @include small-btn(var(--color-element-1), var(--color-confirm));
                }

                .cancelNewItemProcess {
                    @include small-btn(var(--color-element-1), var(--color-cancel));
                }
            }

            .addNewItemBtn {
                height: 100%;
                width: 100%;
                justify-self: center;
                align-self: center;
                font-size: 2.2rem;
                background-color: var(--color-confirm);
                color: var(--color-element-1);
                border: none;
                border-radius: 8px;
                box-shadow: 1px 1px 2px var(--color-element-2);
                text-shadow: 1px 1px 2px var(--color-element-2);
            }
        }
    }
}