.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-bg);
  padding: 10px;
  width: 100%;
  min-width: 300px;
  max-width: 480px;
  min-height: 100dvh;
  margin: 0 auto;
}
.pageContainer .itemsPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  width: 100%;
}
.pageContainer .itemsPageHeader .itemsPageBackBtn {
  min-width: 6rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-back);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
  max-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  gap: 0.5rem;
}
.pageContainer .itemsPageHeader .itemsPageBackBtn .itemsPagebackIcon {
  width: 1rem;
  height: 1rem;
}
.pageContainer .itemsPageHeader h1 {
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pageContainer .itemsPageMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.pageContainer .itemsPageMain ul {
  border: 1px solid var(--color-element-2);
  border-radius: 4px;
  box-shadow: 1px 1px 2px var(--color-element-2);
  background-color: var(--color-element-2);
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.pageContainer .itemsPageMain ul li {
  padding: 4px;
  background-color: var(--color-sticky-note);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pageContainer .itemsPageMain ul li:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.pageContainer .itemsPageMain ul li:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pageContainer .itemsPageMain ul li .itemTopContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: inherit;
  overflow: hidden;
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemInputContainer .itemCompletedToggle {
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--color-sticky-note);
  flex-shrink: 0;
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemInputContainer .itemCompletedToggle .checkIcon {
  width: 100%;
  height: 100%;
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemInputContainer .activeToggle {
  display: flex;
  color: var(--color-confirm);
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemInputContainer .activeToggle .checkIcon {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemInputContainer .itemBtn {
  height: 100%;
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: left;
  text-shadow: 2px 2px 4px var(--color-bg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemInputContainer .itemQuantity {
  height: 100%;
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  text-shadow: 2px 2px 4px var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: right;
  flex-shrink: 0;
  white-space: nowrap;
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemInputContainer .itemQuantityType {
  height: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  flex-shrink: 0;
  white-space: nowrap;
}
.pageContainer .itemsPageMain ul li .itemTopContainer .itemMenuToggleBtn {
  min-width: 2rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-toggle-info);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageContainer .itemsPageMain ul li .itemTopContainer .open {
  background-color: var(--color-back);
}
.pageContainer .itemsPageMain ul li .itemBtnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.pageContainer .itemsPageMain ul li .itemBtnsContainer button {
  flex: 1;
}
.pageContainer .itemsPageMain ul li .itemBtnsContainer .addOneItemBtn {
  min-width: 2rem;
  height: 2rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-add);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .itemsPageMain ul li .itemBtnsContainer .substractOneItemBtn {
  min-width: 2rem;
  height: 2rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-substract);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .itemsPageMain ul li .itemBtnsContainer .deleteItemBtn {
  min-width: 4.25rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-cancel);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .itemsPageMain .addNewItemContainer {
  padding: 4px;
  background-color: inherit;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer input {
  height: 2rem;
  border-radius: 8px;
  padding: 4px 6px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid var(--color-element-2);
  box-shadow: 1px 1px 2px var(--color-element-2);
  min-width: 0;
  outline: none;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer .itemAlertMessage {
  font-size: 1.2rem;
  color: var(--color-cancel);
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer .itemNameInput {
  flex-grow: 1;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer .lowerNewItemInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer .lowerNewItemInputContainer .itemQuantityInput {
  min-width: 3rem;
  text-align: center;
  text-align: left;
  flex-grow: 1;
  -moz-appearance: textfield;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer .lowerNewItemInputContainer .itemQuantityInput::-webkit-outer-spin-button, .pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer .lowerNewItemInputContainer .itemQuantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer .lowerNewItemInputContainer .confirmNewItem {
  min-width: 2rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-confirm);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemInputContainer .lowerNewItemInputContainer .cancelNewItemProcess {
  min-width: 2rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-cancel);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .itemsPageMain .addNewItemContainer .addNewItemBtn {
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
  font-size: 2.2rem;
  background-color: var(--color-confirm);
  color: var(--color-element-1);
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
}/*# sourceMappingURL=Items.Page.module.css.map */