.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-bg);
  padding: 10px;
  width: 100%;
  min-width: 300px;
  max-width: 480px;
  min-height: 100dvh;
  margin: 0 auto;
}
.pageContainer .listPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.pageContainer .listPageHeader h1 {
  font-weight: bold;
  flex-grow: 1;
  min-width: 0;
  text-align: center;
}
.pageContainer .listPageHeader .languageToggleBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  border-radius: 16px;
  border: 1px solid var(--color-element-2);
  margin-left: auto;
}
.pageContainer .listPageHeader .languageToggleBtn::before {
  content: "";
  width: 20px;
  height: inherit;
  background-color: var(--color-element-1);
  border-radius: inherit;
  border: 1px solid var(--color-element-2);
  position: absolute;
  top: 0;
  left: 0;
}
.pageContainer .listPageMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.pageContainer .listPageMain ul {
  border: 1px solid var(--color-element-2);
  border-radius: 4px;
  box-shadow: 1px 1px 2px var(--color-element-2);
  background-color: var(--color-back);
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.pageContainer .listPageMain ul li {
  padding: 4px;
  background-color: var(--color-sticky-note);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.pageContainer .listPageMain ul li:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.pageContainer .listPageMain ul li:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pageContainer .listPageMain ul li .listLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.pageContainer .listPageMain ul li .listLabelContainer .listCompletedToggle {
  display: hidden;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--color-element-1);
  flex-shrink: 0;
}
.pageContainer .listPageMain ul li .listLabelContainer .listCompletedToggle .checkIcon {
  display: none;
}
.pageContainer .listPageMain ul li .listLabelContainer .activeToggle {
  display: flex;
  color: var(--color-confirm);
}
.pageContainer .listPageMain ul li .listLabelContainer .activeToggle .checkIcon {
  display: block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
.pageContainer .listPageMain ul li .listLabelContainer .listNameLabel {
  background-color: inherit;
  border: none;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bolder;
  text-shadow: 2px 2px 4px var(--color-bg);
}
.pageContainer .listPageMain ul li .listDropdownMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-element-1);
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 4px;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuInfo {
  width: inherit;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-back);
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuInfo p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuInfo p:last-child {
  margin-bottom: 0.5rem;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuInfo span {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  width: 6rem;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuBtns {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuBtns .openListBtn {
  width: 4.25rem;
  height: 2rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-add);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuBtns .infoVisibleBtn {
  width: 4.25rem;
  height: 2rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-toggle-info);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuBtns .deleteListBtn {
  width: 4.25rem;
  height: 2rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-cancel);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuBtns .deletionText {
  font-size: 1.2rem;
  font-weight: 500;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuBtns .confirmDeletionBtn {
  width: 4.25rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-confirm);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .listPageMain ul li .listDropdownMenu .listDropdownMenuBtns .cancelDeletionBtn {
  width: 4.25rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-cancel);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .listPageMain .addNewListContainer {
  height: 3rem;
  background-color: inherit;
}
.pageContainer .listPageMain .addNewListContainer .addNewListInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  height: 100%;
  width: 100%;
}
.pageContainer .listPageMain .addNewListContainer .addNewListInputContainer input {
  height: 100%;
  border-radius: 8px;
  padding: 4px 6px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid var(--color-element-2);
  box-shadow: 1px 1px 2px var(--color-element-2);
  flex-grow: 1;
  min-width: 0;
  outline: none;
}
.pageContainer .listPageMain .addNewListContainer .addNewListInputContainer .confirmNewList {
  width: 2rem;
  height: 2rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-confirm);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageContainer .listPageMain .addNewListContainer .addNewListInputContainer .confirmNewList .confirmIcon {
  filter: drop-shadow(1px 1px 2px var(--color-element-2));
}
.pageContainer .listPageMain .addNewListContainer .addNewListInputContainer .cancelNewListProcess {
  width: 2rem;
  height: 2rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 6px;
  color: var(--color-element-1);
  background-color: var(--color-cancel);
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
  flex-shrink: 0;
}
.pageContainer .listPageMain .addNewListContainer .addNewListBtn {
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
  font-size: 2.2rem;
  background-color: var(--color-confirm);
  color: var(--color-element-1);
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 2px var(--color-element-2);
  text-shadow: 1px 1px 2px var(--color-element-2);
}/*# sourceMappingURL=ListsPage.module.css.map */