@use '../../styles/containers/PageContainer.scss' as *;
@use '../../styles/buttons/SmallBtn.scss' as *;

.pageContainer {
    @include page-container;

    .listPageHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        h1 {
            font-weight: bold;
            flex-grow: 1;
            min-width: 0;
            text-align: center;
        }

        .languageToggleBtn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 40px;
            height: 20px;
            border-radius: 16px;
            border: 1px solid var(--color-element-2);
            margin-left: auto;

            &::before {
                content: "";
                width: 20px;
                height: inherit;
                background-color: var(--color-element-1);
                border-radius: inherit;
                border: 1px solid var(--color-element-2);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .listPageMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        ul {
            border: 1px solid var(--color-element-2);
            border-radius: 4px;
            box-shadow: 1px 1px 2px var(--color-element-2);
            background-color: var(--color-bg);
            display: flex;
            flex-direction: column;
            gap: 1px;

            li {
                padding: 4px;
                background-color: var(--color-sticky-note);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: .5rem;

                &:first-child {
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                }
    
                &:last-child {
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                .listLabelContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
                    width: 100%;

                    //list completed toggle btn
                    .listCompletedToggle {
                        display: hidden;
                        justify-content: center;
                        align-items: center;
                        width: 2rem;
                        height: 2rem;
                        color: var(--color-element-1);
                        flex-shrink: 0;
        
                        .checkIcon {
                            display: none;
                        }
                    }
        
                    .activeToggle {
                        display: flex;
                        color: var(--color-confirm);

                        .checkIcon {
                            display: block;
                            width: 100%;
                            height: 100%;
                            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
                        }
                    }
        
                    //list name
                    .listNameLabel {
                        background-color: inherit;
                        border: none;
                        flex-grow: 1;
                        font-size: 1.2rem;
                        font-weight: bolder;
                        text-shadow: 2px 2px 4px var(--color-bg);
                    }
                }
    
                .listDropdownMenu {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--color-element-1);
                    height: 100%;
                    width: 100%;
                    padding: .5rem;
                    border: 1px solid black;
                    border-radius: 6px;
                    margin-bottom: 4px;

                    .listDropdownMenuInfo {
                        width: inherit;
                        font-size: 1.2rem;
                        text-align: left;
                        margin-bottom: .5rem;
                        border-bottom: 1px solid var(--color-back);

                        p:first-child {
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-align: center;
                            margin: 0 auto;
                            margin-bottom: .5rem;
                        }

                        p:last-child {
                            margin-bottom: .5rem;
                        }

                        span {
                            display: inline-block;
                            font-weight: bold;
                            font-size: 1.3rem;
                            width: 6rem;
                        }
                    }

                    .listDropdownMenuBtns {
                        width: inherit;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: .5rem;

                        .openListBtn {
                            @include small-btn(var(--color-element-1), var(--color-add), $width: 4.25rem);
                        }
    
                        //delete list btn
                        .deleteListBtn {
                            @include small-btn(var(--color-element-1), var(--color-cancel), $width: 4.25rem);
                        }
    
                        .deletionText {
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
    
                        .confirmDeletionBtn {
                            @include small-btn(var(--color-element-1), var(--color-confirm), $width: 4.25rem, $font-size: 1rem);
                        }
    
                        .cancelDeletionBtn {
                            @include small-btn(var(--color-element-1), var(--color-cancel), $width: 4.25rem, $font-size: 1rem);
                        }
                    } 
                }   
            }
        }

        .addNewListContainer {
            height: 3rem;
            background-color: inherit;
            
            .addNewListInputContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 4px;
                height: 100%;
                width: 100%;

                input {
                    height: 100%;
                    border-radius: 8px;
                    padding: 4px 6px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    border: 1px solid var(--color-element-2);
                    box-shadow: 1px 1px 2px var(--color-element-2);
                    flex-grow: 1;
                    min-width: 0;
                    outline: none;
                }

                .confirmNewList {
                    @include small-btn(var(--color-element-1), var(--color-confirm));
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .confirmIcon {
                        filter: drop-shadow(1px 1px 2px var(--color-element-2));
                    }
                }

                .cancelNewListProcess {
                    @include small-btn(var(--color-element-1), var(--color-cancel));
                }
            }

            .addNewListBtn {
                height: 100%;
                width: 100%;
                justify-self: center;
                align-self: center;
                font-size: 2.2rem;
                background-color: var(--color-confirm);
                color: var(--color-element-1);
                border: none;
                border-radius: 8px;
                box-shadow: 1px 1px 2px var(--color-element-2);
                text-shadow: 1px 1px 2px var(--color-element-2);
            }
        }
    }
}