@mixin small-btn($color, $bg-color, $min-width: 2rem, $height: 2rem, $font-size: 1rem) {
    min-width: $min-width;
    height: $height;
    border: none;
    font-size: $font-size;
    font-weight: bolder;
    border-radius: 6px;
    color: $color;
    background-color: $bg-color;
    box-shadow: 1px 1px 2px var(--color-element-2);
    text-shadow: 1px 1px 2px var(--color-element-2); 
    flex-shrink: 0;
}