:root {
    --color-bg: rgb(211, 211, 211);
    --color-element-1: rgb(248, 249, 249);
    --color-element-2: rgb(18, 18, 18);
    --color-confirm: rgb(90, 125, 90);
    --color-cancel: rgb(139, 76, 76);
    --color-add: rgb(90, 110, 140);
    --color-substract: rgb(164, 113, 73);
    --color-back: rgb(95, 106, 114);
    --color-sticky-note: rgb(240, 230, 170);
    --color-toggle-info: rgb(130, 130, 100);
    --color-share: rgb(105, 120, 140);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    min-width: 320px;
    min-height: 100dvh;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}